.section .container .row .col-md-6 p {

    margin-left: 100px;
}

.section .container .row .col-md-6 h3 {
    margin-left: 10px;
    padding-left: 50px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.section .container .row .col-md-6 img {
    width: 400px;
    margin-top: 10px;
}

h3 {
    font-size: medium;
    font-family: fantasy;
    font-weight: 450;
}