.start-today {
    background-color=#222222;
}

.start-today .content {
    -webkit-display: flex display:flex
}

.start-today .content .box {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px
}

.start-today .content .img img {
    display: block;
    width: 100%;
}