.col-md-3 .card {
    border-color: brown;
    border-radius: 5px;
}

.col-md-3 .card:hover {
    border-color: red;
    background-size: cover;
    background-color: red;
    border-width: thick;
}

.section.container.row.col-md-3.card img #photo {
    height: 50px;
    width: auto;
}