.form-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.cl .form-control {
    border-radius: 150px;
    font-family: 'Courier New', Courier, monospace;
}

.cl .form-control:hover {
    border-color: black;
    background-color: darksalmon;
}

.contact {
    font-style: italic;
    font-size: larger;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.contact:hover {
    color: red;

}