.container-fluid .collapse .navbar-nav .nav-link {
    color: white;
    display: inline-block;
}

.container-fluid .collapse .navbar-nav .nav-link:hover {
    background-color: crimson;
    color: white;
    height: 40px;
    border-radius: 11px;

}