.carousel-caption {
    margin-left: 0px;
    margin-right: 300px;
    margin-bottom: 50px;

    align-items: center;
}

.carousel-inner .carousel-item .carousel-caption h1 {
    font-size: xx-large;
    font-weight: 200;
    font-family: sans-serif;

}

.carousel-inner .carousel-item .carousel-caption h2 {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 200;

}

.carousel-inner .carousel-item .carousel-caption .btn {

    height: 30px;
    text-align: center;
    margin: 5px;
    padding: 3px;
    color: white;
    border-radius: 10px;
}