p {
    font-size: 14px;
    color: rgb(163, 163, 163);
}

.section {

    padding-top: 40px;
    padding-bottom: 40px;
}

.main-heading {
    color: rgb(204, 18, 20);
    font-size: 26px;
}

.underline {
    height: 4px;
    width: 5rem;
    background-color: orange;
    margin-top: 6px;
    margin-bottom: 6px;
}

.bg-c-light {
    background-color: gainsboro;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: orangered;

}

.form-label {
    margin-left: 10px;
}

.row.carousel-item {
    min-height: 50vh;
    background-position: center;
    background-size: cover;
}